<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% let totalPrice=0 %>
                    <% orders.forEach(order => { %>
                        <ul>
                            <li><%= order.productId.title %> (<%= order.quantity %>)</li>
                             <p>price: $ <%= order.productId.price%></p>
                             <% totalPrice+=order.productId.price %>
                        </ul>
                        <form action="/order-delete-item" method="POST">
                            <input type="hidden" value="<%= order.productId.id %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    <% }); %>
                </ul>
                <p> total Price is  $<%=totalPrice %></p>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>